.detail {
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
    

    & .detBut {
        margin-top: 2rem;
        margin-left: 10px;
        background-color: var(--colors-ui-base) !important;
        color: var(--colors-text) !important;
        border: none;
        padding: 0px 30px;
        border-radius: var(--radius);
        display: flex;
        align-items: center;
        box-shadow: var(--shadow);
        &  p {
            margin-left: 5px;
        }
    }
}