.block-input {
    max-width: 1240px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    @media(max-width: 767px) {
        flex-direction: column;
    }
}

.inp {
    margin-top: 30px;
    margin-left: 10px;
    background-color: var(--colors-ui-base);
    color: var(--colors-text);
    width: 400px;
    height: 50px;
    border-radius: var(--radius);
    display: flex;
    justify-content: start;
    align-items: center;
    box-shadow: var(--shadow);

    & svg {
        margin: 0 10px;
        font-size: 18px;
    }

    & input {
        border-radius: var(--radius);
        width: 300px ;
        height: 30px;
        color: var(--colors-text);
        background-color: var(--colors-ui-base);
        outline: none;
        border: none;
        font-size: 16px;
    }
    
}
@media(max-width: 400px) {
        .inp {
            width: 300px;
            margin-left: 10px;
            & label {
                display: flex;
            }
            & input {
                width: 90%;
            }
        }
        .block-select {
            margin-left: 10px;
        }
    }


.block-select {
    margin-top: 30px;
    margin-right: 10px;
    margin-left: 10px;
    width: 300px;
    height: 50px;
    background-color: var(--colors-ui-base);
    color: var(--colors-text);
    box-shadow: var(--shadow);
    padding: 5px;
    border-radius: var(--radius);
    border: none !important;
    
    &>div[id] {
            background-color: var(--colors-ui-base);
            color: var(--colors-text);
        };

    & :focus {
        border: none !important;
    }

    & * {
        color: var(--colors-text) !important;
        border: none !important;
        &:focus {
            border: none !important;
        }
    }
}

.selectStyle {

    &__option {
        background-color: var(--colors-ui-base) !important;
        color: var(--colors-text) !important;

        &--is-focused {
            background-color: lightblue !important;
            border: none !important;
        }
    }

    &__control {
        background-color: var(--colors-ui-base) !important;
        color: var(--colors-text) !important;
    }
}