
.container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 80px;
    box-shadow: var(--shadow);
    background-color: var(--colors-ui-base);
    color: var(--colors-text);
}
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1240px;
    text-decoration: none;
    
    & span {
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;
    }

    & h3, a {
        background-color: var(--colors-ui-base);
        color: var(--colors-text);
        text-decoration: none;
    }
}